<div class="space-y-8">

  <div>
    <h2 class="text-2xl font-bold">Dashboard</h2>
    <p class="text-slate-600 dark:text-slate-300 mt-1">
      Willkommen im Lightcamp HQ.
    </p>
  </div>

  <div class="bg-white dark:bg-slate-800 shadow rounded-lg shadow p-6">
    <h3 class="text-lg font-semibold mb-4">Meine Camps</h3>

    <p class="text-slate-500 dark:text-slate-300">
      Du bist aktuell noch keinem Camp zugewiesen.
    </p>
  </div>

</div>